<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>247454213976-3p1e8tel4antc9jk8jjvdlto6mm888n3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.247454213976-3p1e8tel4antc9jk8jjvdlto6mm888n3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>247454213976-8k9v90jrlvgfnehpam0qunq6tojcnv8q.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCvWeS5KFlu01q3ZyM2UJdETdVAVBDF9V4</string>
	<key>GCM_SENDER_ID</key>
	<string>247454213976</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pack.pack</string>
	<key>PROJECT_ID</key>
	<string>packfnd</string>
	<key>STORAGE_BUCKET</key>
	<string>packfnd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:247454213976:ios:1ac148a1e4cce9ffc8672d</string>
</dict>
</plist>